.edit-task-form {
  width: 300px;
  margin: auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}

.edit-task-form h2 {
  margin-bottom: 20px;
}

.edit-task-form label {
  display: block;
  margin-bottom: 10px;
  text-align: left;
}

.edit-task-form input,
.edit-task-form select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.edit-task-form .button-container {
  display: flex;
  justify-content: space-between;
}

.edit-task-form button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.edit-task-form button[type="submit"] {
  background-color: #007bff;
  color: #fff;
}

.edit-task-form button[type="submit"]:hover {
  background-color: #0056b3;
}

.edit-task-form button[type="button"] {
  background-color: #dc3545;
  color: #fff;
}

.edit-task-form button[type="button"]:hover {
  background-color: #c82333;
}
